<!-- navbar for sign up day 2 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar scroll</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
              </li>
          </ul>


          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Sign Up
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <!-- form -->
                          <form [formGroup]="addform" (ngSubmit)="add()">
                              <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                                  <input type="email" class="form-control" aria-describedby="emailHelp"
                                      formControlName="email">
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                  </div>
                                  <div *ngIf="addform.get('email')?.touched && addform.get('email')?.invalid">
                                      <span class="text-danger"
                                          *ngIf="addform.get('email')?.errors?.['required']">must
                                          enter a name</span>
                                      <span class="text-danger"
                                          *ngIf="addform.get('email')?.errors?.['minlength']">must enter a name with
                                          at
                                          least 4 character</span>
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Password</label>
                                  <input type="password" class="form-control" formControlName="pass">
                                  <div *ngIf="addform.get('pass')?.touched && addform.get('pass')?.invalid">
                                      <span class="text-danger" *ngIf="addform.get('pass')?.errors?.['required']">must
                                          enter a password</span>
                                      <span class="text-danger"
                                          *ngIf="addform.get('pass')?.errors?.['minlength']">must enter a password
                                          with at
                                          least 4 character</span>
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleConfirmPassword1" class="form-label">Confirm Password</label>
                                  <input type="password" class="form-control" formControlName="confirmPass">
                                  <div
                                      *ngIf="addform.get('confirmPass')?.touched && addform.get('confirmPass')?.invalid">
                                      <span class="text-danger"
                                          *ngIf="addform.get('confirmPass')?.errors?.['required']">must
                                          confirm password</span><br>
                                      <span class="text-danger"
                                          *ngIf="addform.get('confirmPass')?.errors?.['minlength']">must enter a
                                          password with at
                                          least 4 character and must match password</span><br>
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputID" class="form-label">National ID</label>
                                  <input type="text" class="form-control" formControlName="nationalID">
                                  <span class="text-danger"
                                      *ngIf="addform.get('nationalID')?.errors?.['minlength']">must enter a
                                      Id with 14 character</span>
                              </div>
                              <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input">
                                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </form>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</nav>

<!-- banner day 1 -->
<img src="https://www.allphones.com.au/media//ubcontentslider/images/s/a/samsung-galaxy-s22-seriers_allphones.png" style="width: 100%; height: 50vh;">